@model List<Cart>
@{
    ViewData["Title"] = "Categories";
}   
<Section>
<h1>Categories</h1>
<div class="container" >
@foreach (Cart item in @Model)
{
  <div class="card" style="width:400px;display:inline-block;margin:6px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">@item.CustomerID</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Products</a>
    </div>
  </div>
}
</div>
</Section>

